@import "../common";

.media {
  margin-top: 14rem;
  padding: 2rem;

  figure {
    height: 20vh;
    width: 100%;
    margin-bottom: 2rem;
    background-image: url("../images/pexels-photo-1007027.jpg");
    background-position: bottom;
  }

  div {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10rem;

    font-size: 1.75rem;

    ul {
      list-style: none;
    }
    li {
      margin-bottom: 1rem;

      p:first-child {
        font-weight: 700;
      }
    }

    a,
    a:visited {
      color: $light-accent-color;
    }
  }
}
