@import "../common";

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 9rem;
  padding-top: 3rem;
  background-color: $primary-color;
  color: white;
  text-align: center;

  aside {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2rem;
    padding: 0.5rem;
    padding-top: 0.5rem;
    background-color: $dark-accent-color;
  }
}
